*,
::after,
::before {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

ul {
  list-style: none;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-medium);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: var(--font-weight-regular);
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: var(--font-weight-regular);
}

h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
}

h5 {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: none;
}

.hover-icon path {
  transition: fill 0.2s ease;
}

.hover-icon:hover path {
  fill: var(--color-main);
}

.select-input {
  border: 1px solid var(--color-decorative);
  padding: 15px 12px;
  border-radius: 4px;
  width: 100%;
}

.activePage {
  background-color: var(--color-main);
  color: var(--color-contrast);
}

a {
  cursor: pointer;
}

input, select {
  -webkit-appearance: none; 
  -moz-appearance: none;    
  appearance: none;         
}

button { 
  cursor: pointer;
  background-color: transparent;
}

.error-message {
  position: absolute;
  top: auto;
  left: 0;
  font-size: 8px;
  color: var(--color-error);
}

.span-accent {
   color: var(--color-accent)
}

.text__accent {
  color: var(--color-main);
  font-weight: var(--font-weight-medium);
}

.active-page-slider {
  cursor: pointer;
  padding-bottom: 31px;
  border-bottom: 2px solid #000;
  z-index: 2;
}
