:root {
  --font-size-h1: 33px;
  --font-size-h2: 26px;
  --font-size-h3: 20px;
  --font-size-h4: 20px;
  --font-size-h5: 16px;
  --font-size-logo: 35px;
  --font-size-text-large: 16px;
  --font-size-text-medium: 14px;
  --font-size-text-small: 12px;

  --line-height-h2: 35px;
  --line-height-h3: 26px;
  --line-height-h4: 20px;
  --line-height-h5: 27px;
  --line-height-body-small: 20px;

  --spacing-paragraph: 10px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --color-accent: #a18a68;
  --color-main: #000000;
  --color-contrast: #ffffff;
  --color-text: #707070;
  --color-decorative: #D8D8D8;
  --color-transparent: transparent;
  --color-error: #D82700;

  --font-logo: "Allerta Stencil", arial, sans-serif;
  --font-main: "DM Sans", arial, sans-serif;
}